{% extends 'base.html' %}

{% block content %}

<div class="sidebar">
    <div class="elemtop">
        <a href="/user/">
            <img  class="buttonUser" src="{{avatar.photo.url}}" >
        </a>
        <p>{{user.username}}</p>

        <form action="get">
            {% csrf_token %}
            <input class="search" type="text">
        </form>


    </div>


    <div class="allcontacts">
<form method="post" >
{% for c in contacts %}
    {% csrf_token %}

{% if c.contact_user_id.username == None %}
    <button name="pk" class="contact" value="{{ c.group.pk }}">
        <div >
            <p>{{c.group.group_name}}</p>
        </div>

    </button>
{% else  %}
    <button name="pk" class="contact" value="{{ c.contact_user_id.pk }}">
        <div >
            <p>{{c.contact_user_id.username}}</p>
        </div>

    </button>


{% endif %}



{% endfor %}
</form>

    </div>

</div>



<div class="main">
{% if messages_user == 0 %}
    <p>Выберите чела</p>
{% else %}
{% for m in messages %}
    <li>{{m.sender_id.username}}</li>
    <li>{{m.receiver_id.username}}</li>
    <li>{{m.content}}</li>
    <br>
{% endfor %}
{% endif %}


</div>

{% endblock content %}