{% extends 'base.html' %}



{% block content %}

<div class="windowLogin">
    <p id="loginText">Вход в Мессенджер</p>
    <form method="post" >
    {% csrf_token %}


{% if form.non_field_errors %}
    <div class="form-error">Неправильный логин или пароль</div>
{% else %}
    <div class="form-error"></div>
{% endif %}

    {% for f in form %}
    <p>
        {{f}}
    </p>
    {% endfor %}

    <div id="containerButtons">
        <button class="buttonLogin" id="login" type="submit">Войти</button>
        <a class="buttonLogin" id="registration" type="button" href="{% url 'user:register' %}"><div>Регистрация</div></a>
    </div>

    </form>

</div>


{% endblock content %}